@mixin grid($nb) {
  $nb: 4;
  @for $i from $nb through 1 {
    .p-#{$nb}-#{$i} {
      padding: ($nb * 1px) ($i * 1px);
    }
  }
}


@mixin gridRec($nb, $i) {
    @if ($i != 0) {
        .p-#{$nb}-#{$i} {
            padding: ($nb * 1px) ($i * 1px);
        }

        @include gridRec($nb, $i - 1);
    }
}

@function fact($nb) {
    @if $nb == 1 {
        @return 1;
    } @else {
        @if $nb > 1 {
            @return $nb * fact($nb - 1);
        } @else { // <= 0
            @error 'Non';
        }
    }
}
