$primary: #BADA55;
$second: lime;
$third: green;

@mixin border-radius($size) {
  -webkit-border-radius: $size;
     -moz-border-radius: $size;
      -ms-border-radius: $size;
          border-radius: $size;
}

@mixin title($color, $size) {
  color: $color;
  text-align: center;
  font-size: $size;
}

h1 {
  @include title($primary, 3em);
}

h2 {
  @include title($second, 2em);
}

.container {
  width: 90%;
  border: 1px solid $second;
  @include border-radius(15px);
  margin: auto;
  padding: 0 10px 5px 10px;
}

ul {
  list-style: square;

  li {
    font-style: italic;
    color: $primary;
  }
}


th {
  font-size: 1.5em;
  color: $primary;
}

td:nth-child(3) {
  text-align: right;
}

th, td {
  border: 1px solid $primary;
  padding: 5px;
}

