/// The primary theme color.
$primary: #BADA55;
/// The second theme color.
$second: lime;
/// The third theme color.
$third: green;

/// The minimal size (width/height) of shown image.
// $img-min-size: 600px;
$img-min-size: 200px;

